@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IM+Fell+DW+Pica:ital@0;1&family=Jacquard+24&display=swap');

.im-fell-dw-pica-regular {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: normal;
  }

  /* fazer um reset CSS*/
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: "IM Fell DW Pica", sans-serif;
    color: rgb(113, 112, 112);
    padding: 10px;
  }

  header {
    background-color: rgb(245, 245, 239);
    border-radius: 6px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center; /*Vertical*/
    align-items: center; /*horizontal*/
  }

  #principal {
    border-radius: 6px;
    height: 800px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  main {
    background-color: rgb(156, 156, 156);
    border-radius: 6px;
    height: 100%;
    width: 74%;
  }

  aside {
    background-color: rgb(113, 112, 112);
    border-radius: 6px;
    height: 100%;
    width: 25%;
  }